version: "3.9"
services:
  mysql:
    image: mysql:8.4
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: appdb
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppass
    ports:
      - "3306:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql
    networks:
      - backend

  service1:
    build: ./service1
    container_name: service1
    depends_on:
      - mysql
    environment:
      DB_HOST: mysql
      DB_USER: appuser
      DB_PASS: apppass
      DB_NAME: appdb
    ports:
      - "3001:3001"
    networks:
      - backend

  service2:
    build: ./service2
    container_name: service2
    depends_on:
      - mysql
    environment:
      DB_HOST: mysql
      DB_USER: appuser
      DB_PASS: apppass
      DB_NAME: appdb
    ports:
      - "3002:3002"
    networks:
      - backend

networks:
  backend:
    driver: bridge
